include CITATION.cff
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md
include RELEASING.md
include mkdocs.yml
include pyproject.toml
recursive-include configs/benchmarks *.yaml
recursive-include docs *.md
recursive-include pic *.png
recursive-include tests *.py
recursive-include tools *.py
prune benchmark_outputs
prune data
prune exps
prune models
prune scripts
prune utils
global-exclude __pycache__
global-exclude *.py[cod]
